div.container
    h1 My allocation potential
    .row
        .span3.controls
            div(slider)
            .row
                .span2
                    h2 Allocation
                .span1.btn-group(style="height: 60px")
                    button.btn(type="button", style="vertical-align: middle")%
            table.table-striped.table.table-hover
                tbody
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
            div Chance to lose money
            div value: {{slider_value}}
        .span9

