div.container
    h1 My allocation potential
    .row
        .span3.controls
            div(slider)
            .row
                .span2
                    h2 Allocation
                .span1.btn-group
                    button.btn.active(type="button")%
                    button.btn(type="button")$
            table.table-striped.table.table-hover
                tbody
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
            div Chance to lose money
            div {{slider_value}} %
        .span9

