div.container
    h1 My allocation potential
    .row
        .span3.controls
            .row
                .span1 {{portionBounds}}%
                .span1.offset1.text-right-align {{portionStocks}}%
            div(slider)
            .row
                .span1 Bounds
                .span1.offset1.text-right-align Stocks
            .row
                .span1
                    strong Allocation
                .span1.offset1.text-right-align %
            table.table-striped.table.table-hover
                tbody
                    tr
                        td.stub VTIfggfghghghghsdsdf
                        td.stub 12%
                    tr
                        td.stub VTIfggfghghghghsdsdf
                        td.stub 12%
                    tr
                        td.stub VTIfggfghghghghsdsdf
                        td.stub 12%
            strong Chance to lose money
            div.stub STUB VALUE %
        .span6
            .span4.offset2
                buttons-radio.btn-group(model="mySelection", options="durations")
            .span
                div(chart, id="chart1")