div.container
    h1 My allocation potential
    .row
        .span3.controls
            .row
                .span1 {{portionBounds}}%
                .span1
                .span1(style="text-align:right;") {{portionStocks}}%
            div(slider)
            .row
                .span1 Bounds
                .span1
                .span1(style="text-align:right;") Stocks
            .row
                .span2
                    h2 Allocation
                .span1.btn-group
                    button.btn.active(type="button")%
                    button.btn(type="button")$
            table.table-striped.table.table-hover
                tbody
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
                    tr
                        td VTIfggfghghghghsdsdf
                        td 12%
            div Chance to lose money
            div {{slider_value}} %
        .span6
            .span2
            .span2
                .btn-group
                    button.btn 1y
                    button.btn 5y
                    button.btn 10y
                    button.btn Set Target

