div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | Ezvestment
            div.nav-collapse.collapse
                ul.nav(ng-controller="NavCtrl")
                    li(ng-repeat="item in navItems", ng-class="{active: $route.current.activetab == item}")
                        a(ng-href="#/{{item}}")
                            | {{item}}