div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | Ezvestment
            div.nav-collapse.collapse
                ul.nav(ng-controller="NavCtrl")
                    li.active(ng-class="navClass('home')")
                        a(href="#")
                            | Home
                    li(ng-class="navClass('about')")
                        a(href="#about")
                            | About
                    li(ng-class="navClass('contact')")
                        a(href="#contact")
                            | Contact