extends layout

block content
    div(ng-view)

    script(type="text/ng-template", id="alloc.html")
        include alloc

    script(type="text/ng-template", id="about.html")
        include about

    script(type="text/ng-template", id="contact.html")
        include contact