!!!
html(ng-app="ezvestment")
    head
        block head
            title Ezvestment
            link(rel='stylesheet', href='css/libs/bootstrap.min.css')
            link(rel='stylesheet', href='css/ui-lightness/jquery-ui-1.10.2.custom.min.css')
            link(rel='stylesheet', href='css/libs/jquery.jqplot.css')
            | <style>
            | body { padding-top: 60px; }
            | </style>
            link(rel='stylesheet', href='css/style.css')
            script(src="js/libs/jquery-1.9.1.min.js")
            script(src="js/libs/angular.min.js")
            script(src="js/libs/jquery-ui-1.10.2.custom.min.js")
            script(src="js/libs/bootstrap.min.js")

            //- jqPlot
            script(src="js/libs/jquery.jqplot.min.js")
            script(src="js/libs/jqplot.canvasTextRenderer.min.js")
            script(src="js/libs/jqplot.canvasAxisLabelRenderer.min.js")

            //- HighCharts
            script(src="js/libs/highstock.js")
            script(src="http://www.highcharts.com/samples/data/usdeur.js")

            script(src="js/ezvestment.js")
            script(src="js/ezvestment_directives.js")

    body
        include header

        block content

        include footer