!!!
html(ng-app="ezvestment")
    head
        block head
            title Bootstrap
            link(rel='stylesheet', href='css/libs/bootstrap.min.css')
            | <style>
            | body { padding-top: 60px; }
            | </style>
            link(rel='stylesheet', href='css/libs/bootstrap-responsive.min.css')
            link(rel='stylesheet', href='css/style.css')
            //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
            //- script(src='/scripts/bootstrap.min.js')
            
            script(src="js/libs/jquery-1.9.1.min.js")
            script(src="js/libs/angular.min.js")
            script(src="js/libs/bootstrap.min.js")
            script(src="js/libs/angular-strap.min.js")

            script(src="js/ezvestment.js")

    body
        include header

        block content

        include footer